body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
<<<<<<< HEAD
    background-color: antiquewhite;
    text-align: center;
=======
    text-align: center;
    background-color: antiquewhite;
>>>>>>> rps-ui
}